* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common css */
button {
  padding: 12px 20px;
  color: #0d1321;
  background-color: #fff;
  text-align: center;
  font-family: "Azeret Mono";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #0d1321;
  opacity: 0.7;
}
.container {
  width: 70%;
  padding: 80px 90px;
  background-color: rgba(13, 19, 33, 0.02);
  border: 2px solid red;
  margin: 40px auto;
}
.heading h2 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin: 40px 0px;
  color: #0d1321;
  line-height: 26px;
}
.heading p {
  text-align: center;
  font-size: 18px;
  color: #0d13219c;
  line-height: 26px;
}
/* nav css here */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}
.resume {
  padding: 10px 15px;
}

.banner {
  background-image: url("../images/Hero-bg.png");
  background-size: contain;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-img {
  margin-top: 20px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.banner-content h2 {
  color: #0d1321;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  word-wrap: break-word;
  text-align: center;
}
.banner-content p {
  color: #242b3e;
  font-size: 18px;
  font-family: Azeret Mono;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
  text-align: center;
}
.contact-btn {
  padding: 20px 25px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  margin: 20px 0px;
  font-size: 20px;
}

.card1 {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  border-radius: 16px;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  border: 2px solid red;
}
.card-text {
  margin: 20px 40px;
}
.card-text h2 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
}
.card-text p {
  color: #0d1321;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}

.card2 {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top: 48px;
  border-radius: 16px;
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  border: 2px solid red;
}
.card2 .card-img {
  margin-right: 20px;
  margin-left: 30px;
}

.inspiration-vdo {
  margin-top: 32px;
}
iframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 16px;
}
